{{! // prettier-ignore }}
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Recuperação de senha</title>
		<style>
			.message-content { font-family: Arial, Helvetica, sans-serif; }
			.message-content .banner { width: 100%; padding: 20px 0; text-align:
			center; } .message-content .banner img { display: inline-block; width:
			auto; height: 30px; margin: 0 auto; } .message-content .text-content {
			padding: 15px 20px; } .message-content .text-content .title { text-align:
			center; }
		</style>
	</head>
	<body>
		<div class="message-content">
			<div class="banner" style="background-color: {{primary_color}};">
				<img
					src="{{host}}/static/media/logo.378f1127d583e4efaf9a2e25b85e48e5.svg"
				/>
			</div>

			<div class="text-content">
				<p>
					<h2>Pedido de redefinição de senha</h2>
				</p>

				<p>Recebemos uma solicitação para redefinir a senha do email
					<span style="color: {{primary_color}}">{{email}}</span>. Clique
					<a href="{{link}}"><span
							style="color: {{primary_color}}"
						>aqui</span></a>
					para redefinir sua senha.
				</p>
				<p>Se não foi você, descarte esse email.</p>

				<p>Atenciosamente, <br />Equipe Proffy</p>
			</div>

		</div>
	</body>
</html>